html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
}
.wrapper {
	width: 960px;
    height: 772px;
    margin: 0 auto;
    padding-top: 1px;
    background-color: transparent;
}
.slider {
	background-color: #fcdb00;
	width: 100%;
	height: 740px;
	margin: 0;
	padding: 0;
}
header {
	position: relative;
	top: 59px;
	left: 19px;
}
.logo {
    color:#010101;
    text-align: left;
    margin-top: 0px;
    margin-left: 24px;
    height: 43px;
    width: 200px;

}
.logo:after{
	display: inline-block;
    vertical-align: top;
    content: "tinyone";
    line-height: 40px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 8px;
    margin-top: 2px;
}

nav {
	float:right;
	margin-right: 9px;
	height: 28px;
	position: relative;
	top: -49px;
	left: -1px;
}

nav li {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 22px;
	display: inline-block;
	padding-left: 70px;
}
a.a-nav {
	text-decoration: none;
	color: #010101;

}

.header-content {
	margin-top: 160px;
	margin-left: 16px;
	width: 390px;
	height: 200px;
	text-align: left;
}
.header-content-1 {
	font-size: 32px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: #010101;
    padding: 5px 0px 5px 10px;
    position: relative;
    top: -40px;
}
.header-content-2 {
	font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    color: #313841;
    padding: 5px 0px 5px 10px;
    position: relative;
    top: -56px;
    line-height: 1.2;
}
.header-content-3 {
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	color: #555555;
	padding: 5px 0px 5px 10px;
    position: relative;
    top: -63px;
}
.iPad {
	width:317px ;
	height: 470px;
	margin-left: 583px;
    background: url("d://tinyone/img/Base.png") no-repeat;
    position: relative;
    top: -397px;

}
.iPad-screen {
	width: 288px;
	height: 383px;
    background: url("D:/tinyone/img/1024x768.png") no-repeat;
    position: relative;
    left: 13px;
    top: 44px;
}
.iPad-screen:after {
	content: "";
    display: table;
    clear: both;
}
.iPad-touch {
	width: 47px;
	height: 47px;
	background: url("D:/tinyone/img/fingerprint2.png") no-repeat;
	position:relative;
	left:70px;
	top:153px;
}
.iPad-touch:after {
	content: "tinyone";
    display: table;
    clear: both;
    color: #fcdb00;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-left: 50px;
}
.store-buttons {
	width:250px;
	height:45px;
	position: relative;
	top: -47px;
    left: 8px;
}

.icon-img {
	padding-right: 40px;
}
.icon-img-2 {
	margin-left: 34px;
    position: relative;
    top: 3px;
}
.icon-img-3 {
	margin-left: 34px;
    position: relative;
    top: 2px;
}
.slider-bullets {
	width: 56px;
	height: 14px;
	position: relative;
	left: 441px;
    top: -353px;
	display: inline-block;
}
.slider-bullets-com {
	margin-right: 3px;
}
.features {
	background-color: #ffffff;
	width: 100%;
	height: 770px;
}
.features-h1 {
	font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: #010101;
    position: relative;
    left: 24px;
    top: 77px;
}
.features-p {
	font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #656a71;
    height: 42px;
    width: 745px;
    position: relative;
    left: 131px;
    top: 53px;
}
.featured-grid {
	font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #898989;
}
.featured-h2 {
	font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #010101;
    line-height: 0px;
}
.row-1 {
	width: 920px;
	height: 120px;
	display: inline-block;
	position: relative;
	left: 47px;
    top: 147px;
}
.featured-text {
	width: 220px;
	height: 130px;
	position: relative
}

.f-t-1 {
	left: 67px;
    top: -50px;
}
.f-t-2 {
    left: 72px;
    top: -55px;
}
.f-t-3 {
    top: -51px;
    left: 70px;
}
.featured-1 {
	height: 120px;
	width: 286px;
	float: left;
}
.featured-2 {
	height: 120px;
	width: 286px;
	float: left;
	margin-left: 30px;
}
.featured-3 {
	height: 120px;
	width: 286px;
	float: right;
	position: relative;
    left: -2px;
}
.row-2 {
	width: 912px;
	height: 120px;
	display: inline-block;
	position: relative;
	left: 18px;
    top: 276px;
}
.f-t-4 {
	top: -54px;
    left: 77px;
}
.f-t-5 {
	top: -55px;
    left: 76px;
}
.f-t-6 {
	left: 65px;
    top: -54px;
}
.featured-4 {
	height: 120px;
	width: 286px;
	float: left;
	position: relative;
    left: 19px;
    top: -47px;
}
.featured-5 {
	height: 120px;
	width: 286px;
	float: left;
	margin-left: 20px;
	margin-left: 56px;
    margin-top: -47px;
}
.featured-6 {
	height: 120px;
	width: 286px;
	float: right;
	position: relative;
    top: -124px;
    left: 40px;
}

footer {
	background-color: #010101;
	width: 100%;
	margin: 0 auto;
}
.subcrible {
	margin: 0 auto;
}
.subcrible-h1 {
  font-size: 32px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: #fcdb00;
  text-align: center;
  position: relative;
  top: 52px;
  left: 21px;
}
.subcrible-p {
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  color: #898989;
  line-height: 1.2;
  text-align: center;
  position: relative;
  top: 30px;
  left: 102px;
  width: 800px;
}
form {
	text-align: center;
	position: relative;
    top: 49px;
    left: 17px;
}
#email-field {
	width: 583px;
	height: 53px;
	border-radius: 5px;
	border-color: #010101;
	font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #898989;
    text-align: left;
    padding-left: 23px;
    margin-right: 5px;
}
#submit-field {
	width: 128px;
	height: 53px;
	background-color: #fcdb00;
	border-radius: 5px;
	border-color: #010101;
	margin-left: 10px;
	font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #010101;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
 }
 .social-connect {
 	width: 270px;
    height: 36px;
 	text-align: center;
 	position: relative;
 	left: 353px;
    top: 110px;
 }

 .social-icon {
 	width: 36px;
 	height: 36px;
 	background-color: #010101;
 	display: inline-block;
 	margin-right: 28px;
 }
  .social-fb {
 	background-image: url("d://tinyone/img/facebook ico.png");
 }
   .social-twi {
 	background-image: url("d://tinyone/img/twitter ico.png");
 }
   .social-g {
 	background-image: url("d://tinyone/img/google + ico.png");
 }
   .social-pinterest {
 	background-image: url("d://tinyone/img/pinterest ico.png");
 }
 .footer-widgets {
 	width: 840px;
 	height: 102px;
 	position: relative;
 	top: 245px;
    left: 45px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    position: relative;

 }
 .footer-adress {
 	width:190px;
 	height: 100px;
 	color: #ffffff;
 	font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    line-height: 0.39;
    position: relative;
    top: -15px;
    float: left;
}
a.a-footer {
    color: #ffffff;
    text-decoration: none;
}

.links-group {
	width: 69px;
    height: 52px;
    line-height: 1.25;
    position: relative;
    top: -22px;
    margin-left: 75px;
    margin-right: 17px;
    float: left;
    text-align: left;
}
li {
	list-style: none;
}
